html {
  font-size: 62.5%;
}

body {
  transition: all 0.3s;
  font-family: "PT Sans", sans-serif;
}

.button--link {
  padding: 15px;
  border-radius: 1rem;
  border: 0;
  background-color: rgba(30, 144, 255, 0.7);
  width: 10rem;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.3s all;
}

.button--link:disabled {
  background-color: rgba(30, 144, 255, 0.3);
}

.button--link:hover {
  transform: scale(110%);
  cursor: pointer;
}

.button--link:disabled:hover {
  transform: scale(100%);
}

.header--block {
  background: url(./images/wallpaper.webp);
  background-position: center;
  background-size: cover;
  align-items: center;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header--block h1 {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin-right: 1.5rem;
}

.toggle--image {
  display: none;
}

@media screen and (max-width: 500px) {
  .toggle--image {
    display: block;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}

.header--link {
  text-decoration: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 0.7rem;
  padding: 0.9rem;
  text-align: center;
  transition: all 0.3s;
  margin-left: 1rem;
}

.header--link--container {
  display: flex;
  margin-top: 1.5rem;
  justify-content: center;
  align-items: center;
}

.header--link--container a {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.header--link:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
  transform: scale(110%);
}

.course--container {
  display: grid;
  grid-template-columns: 30% 70%;
  position: relative;
  gap: 1rem;
  padding: 1rem;
}

.nav-link--container {
  border: 1px solid rgba(30, 144, 255, 0.7);
  padding: 1rem;
  margin-bottom: 0.3rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  transition: all 0.1s;
}

.nav-link--container:hover {
  background-color: rgba(30, 144, 255, 0.5);
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.nav-link--container:active {
  background-color: rgba(30, 144, 255, 0.5);
  color: #fff;
  border: 1px solid #fff;
}

.nav-items {
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
}

.course-topics-link {
  display: none;
}

.header--button {
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
}

@media screen and (max-width: 600px) {
  .course-topics-link {
    display: block;
  }

  .test {
    position: absolute;
    left: -25rem;
    background-color: #eef6f0;
  }

  .nav-bar--position {
    position: absolute;
    left: 0;
    background-color: #eef6f0;
  }

  .course--container {
    grid-template-columns: 100%;
  }
}

.content--container {
  border-radius: 1rem;
  border: 1px solid #ccc;
  padding: 1rem 2rem;
  /* margin-left: 1rem; */
  height: max-content;
}

.content--heading {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.content p {
  font-size: 2rem;
}

.content {
  margin-bottom: 2rem;
}

.extra-space {
  margin-top: 1rem;
}

.content-button--container {
  display: flex;
  justify-content: space-between;
}

pre {
  border-radius: 3px;
  font-size: 1.5rem;
}

.list--items {
  margin-left: 3rem;
}

.list--items li::marker {
  font-size: 1.5rem;
}
